html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 0px!important;
  font-size: 2rem;
}
.ant-col {
  margin: 5px;
}
.ant-row {
  justify-content: center;
  margin-bottom: 20px;
}
div#params {
  padding: 20px;
  background: #000000d6;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 16px #0000004d;
}
.userIcon {
  font-size: 38px;
  color: white;
  margin-right: 10px;
}
span.brand {
  font-size: 25px;
  margin-right: 10px;
  color: white;
}
body {
  background-image: url(/bg.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.ant-list.ant-list-split.ant-list-bordered {
  background-color: #ffffffde;
  box-shadow: 0px 0px 16px #00000021;
  border-radius: 12px;
  width: 300px;
}